:root 
{
    --filters_height: 70px;
    --ul_left_space: 45px;
}


.filters
{
    background-color: white;
    height: var(--filters_height);
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.filters .links
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.filters button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
}

.filters .icon
{
    display: none;
    width: 35px;
    height: 35px;
    background-image: url(../images/icon_search.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


.filters button:hover,
.filters .icon:hover
{
    opacity: 0.9;
}

.filters .links > div
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.filters .links > div:nth-of-type(odd)
{
    border-right: 1px solid #DDDDDD;
}

.filters .links div h3
{
    font-weight: 600;
    margin: 0;
    margin-left: var(--ul_left_space);
}

.filters .links div h4
{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-left: var(--ul_left_space);
}

.filters .links > div .popover
{
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 30px 0;
    position: absolute;
    top: calc(var(--filters_height) - 1px);
    left: 0;
    margin: 0;
    z-index: 1;
    display: none;
}

.filters .links > div .popover ul
{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.filters .links > div .popover h2
{
    margin: 0 calc(var(--ul_left_space) / 2);
    font-size: 16px;
}

.filters .links > div .popover h2:not(:first-of-type)
{
    margin-top: 20px;
}

.filters .links > div .popover li
{
    margin-left: var(--ul_left_space);
}


.filters .links > div:hover .popover
{
    display: block;
}

@media (max-width: 768px)
{
    :root 
    {
        --ul_left_space: 15px;
    }

    .filters
    {
        padding-right: 8px;
    }

    .filters button
    {
        display: none;
    }

    .filters .icon
    {
        display: block;
    }

    .filters .links > div
    {
        padding: 4px;
    }

}